<li class="book">
			<div class="media book">
			  <div class="media-left book-image">
			  <% if book.pictures.empty? %>
				<img class="img-rounded" src="https://placehold.it/200x250">
			  <% else %>
			    <a href="<%= book.pictures.last.url %>">
			      <img class="media-object img-rounded" src="<%= book.pictures.last.url %>" alt="<%= book.title %>">
			    </a>
			  <% end %>
			  </div>
			  <div class="media-body book-info">
			    <h4 class="media-heading title">
				    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#modal<%= book.id %>">
					  <%= book.title %>
					</button>
			    </h4>
			    <h4 class="media-heading author">by: <%= book.author %></h4>
			    <h4 class="media-heading genre">Category: <%= book.genre %></h4>
			    <h4 class="media-heading avg_rating">Ratings:
			    	<% if @avg_ratings[book.id] && @avg_ratings[book.id] > 0 %>
			    		<%= @avg_ratings[book.id].to_f.round(1) %> (<%= @review_count[book.id] %> reviews)
			    	<% else %>
			    		Not yet rated
			    	<% end %>
			    </h4>
			  </div>
			</div>

	<!-- Button trigger modal -->
	<!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
	  Launch demo modal
	</button>
	 -->
		<!-- Modal for ReUpload -->
		<div class="modal fade reupload" id="modalUpload<%= book.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h3 class="modal-title" id="exampleModalLabel">Book Review</h3>
		      </div>
		      <div class="modal-body">
		        <form method="post" action="/books/reupload/<%= book.id %>">
				<dt>Photo URL:</dt>
				<dd><input type="url" class="field" name="url" required></dd>
				<dt>Rating:</dt>
				<dd><div class="field">
					<span class="rating">
						<input type="radio" class="rating-input"
						id="rating-input-1-5" name="rating" value="5"/>
						<label for="rating-input-1-5" class="rating-star"></label>
						<input type="radio" class="rating-input"
						id="rating-input-1-4" name="rating" value="4"/>
						<label for="rating-input-1-4" class="rating-star"></label>
						<input type="radio" class="rating-input"
						id="rating-input-1-3" name="rating" value="3"/>
						<label for="rating-input-1-3" class="rating-star"></label>
						<input type="radio" class="rating-input"
						id="rating-input-1-2" name="rating" value="2"/>
						<label for="rating-input-1-2" class="rating-star"></label>
						<input type="radio" class="rating-input"
						id="rating-input-1-1" name="rating" value="1"/>

						<label for="rating-input-1-1" class="rating-star"></label>
					</span>
				</div></dd>
				<dt>Review:</dt>
				<dd><textarea name="review" class="field" rows="9" required></textarea></dd>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="submit" class="btn btn-primary">Submit</button>
				</form>
		      </div>
		    </div>
		  </div>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="modal<%= book.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h3 class="modal-book-info" id="book-info">Book Info</h3>
		      </div>
		      <div class="modal-body">
		       <div class="media book">
					<div class="media-left book-image">
						<% if book.pictures.empty? %>
							<img class="img-rounded" src="https://placehold.it/200x250">
						<% else %>
							<a href="<%= book.pictures.last.url %>">
							<img class="media-object img-rounded" src="<%= book.pictures.last.url %>" alt="<%= book.title %>">
							</a>
						<% end %>
						</div>
						<div class="media-body book-info">
						    <h4 class="media-heading title"><%= book.title %></h4>
						    <h4 class="media-heading author">by: <%= book.author %></h4>
						    <h4 class="media-heading genre">Category: <%= book.genre %></h4>
						    <h4 class="media-heading avg_rating"> Ratings: 
						      <% if book.id && book.user_id%>
							    <% user_id = Book.joins(:user).find(book.id).user_id %> 
							    <% current_user_name = User.find(user_id).username %>
							    <% current_user_email = User.find(user_id).email %>
							  <% end %>

						    <% if @avg_ratings[book.id] && @avg_ratings[book.id] > 0 %>
					    		<%= @avg_ratings[book.id].to_f.round(1) %> (<%= @review_count[book.id] %> reviews)
					    	<% else %>
					    		Not yet rated
					    	<% end %>
				  			</h4>

							<script>
							  	function Alert_<%= book.id %>() {
							  		alert("This book has been successfully added to your Borrowed List.\n Please contact <%= current_user_name %> at <%= current_user_email %> to arrange pick up");
								}
							</script>
							
							<script>

							</script>

							<% if button_name == "Claim" %>
								<form method= "post" action="/books/claim/<%= book.id %>">
									<button onclick="Alert_<%= book.id %>()" type="submit" class="btn btn-primary"><%= button_name %></button>
						  		</form>
							<% elsif button_name == "Re-Upload" %>
								<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalUpload<%= book.id %>">
					  <%= button_name %>
					</button>
				  			<% end %>
						  		
				  			<h4 class="media-heading reviews">Reviews</h4>
				  			<% if book.posts.empty? %>
				  				<p> No rating available for this book </p>
				  			<% else %>
					  			<% book.posts.each do |post|%>
					  				<% if post.rating.nil? %>
					  					<p> No rating available for this book </p>	
					  				<% else %>
					  					<p class="star">
						  				<% post.rating.times do%>
						  					<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
						  				<% end %>
						  				<p>
				        				<p><%= post.review %></p>
				        			<% end %> 
				        		<% end %>
			        	<% end %>
				  		</div>
					</div>
				</div>
		      </div>
		    </div> <!-- div end .modal-content -->
		  </div> <!-- div end .modal-dialog -->
		</div> <!-- div end .modal fade -->
	</li>