<ul class="books">
	<% if @my_books.empty? %>
		<p> Sorry but you do not have any borrowed books!</p>
	<% else %>
		<% @my_books.each do |book| %>
		<li class="book">
			<dl class="book_info">
				<dt>Title</dt>
				<dd><%= book.title %></dd>
				<% unless book.pictures.empty? %>
				    <dt>URL</dt>
					<dd><a href="<%= book.pictures.url.first %>" target = "_blank"><%= book.pictures.url.first %></a></dd>
				<% end %>
				<dt>Genre</dt>
				<dd><%= book.genre %></dd>
				<form action="/posts/add" method="GET">
					<input type="hidden" name ="book_id" value="<%= book.id %>">
					<button type="submit" class="btn btn-default" aria-label="Left Align">Review
					</button> 
				</form>
				<form action="books/repost/<%= book.id %>" method="POST">
					<input type="hidden" name ="_method" value="DELETE">
					<button type="submit" class="btn btn-default" aria-label="Left Align">Repost
					</button> 
				</form>
			</dl>
			<ul class = "book_reviews">
				<% book.posts.each do |post| %>
					<li class="book_review">
						<dl class="book_review_info">
							<dt>Rating</dt>
							<dd><%= post.rating %></dd>
							<dt>Review</dt>
							<dd><%= post.review %></dd>
						</dl>
					</li>
				<% end %>
			</ul>
		</li>
		<% end %>
	<% end %>
</ul>