<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
	          <a class="navbar-brand" id="app_name" href="#">bookShare</a>
	  </div>
	    <div id="navbar" class="navbar-collapse collapse">
	    <ul>
	    	<li class="navbar-left">
          <form method="get" action="/books">
                <button type="submit" class="btn btn-success navbar-btn" >Home</button>
            </form>
        </li>

	    	<li class="navbar-right">
	    		<form method="get" action="/logout">
	            	<button type="submit" class="btn btn-success navbar-btn" >Logout</button>
	        </form>
	    	</li>
	    </ul>    
	  </div><!--/.navbar-collapse -->
	</div>
</nav>

<div class="borrowed">
	<p id="user"> Hi <%= @user_email %>! </p>

	<h3> You have shared <%= @my_shared_books %> books </h3>
	<h3> You currently have <%= @my_books_borrowed_count %> borrowed books </h3>
	<h3> Your highest book rating is <%= @max_rating %> </h3>
	<h3> Your best rated book is <%= @max_rated_book %> </h3>
	<img src="<%= @max_rated_book_url %>"> 

</div>


<ul class="books">
	<% if @my_books_borrowed_hash.empty? %>
		<p> Sorry but you do not have any borrowed books!</p>
	<% else %>
		<% @my_books_borrowed_hash.each do |book| %>
			<% b = book.book_id %>
				<% @books.each do |book1| %>
					<% if b == book1.id %>
						<li class="book">
						<dl class="book_info">
							<dt>Title</dt>
							<dd><%= book1.title %></dd>
							<% unless book1.pictures.empty? %>
							    <dt>URL</dt>
								<dd><a href="<%= book1.pictures.first.url %>" target = "_blank"><img src="<%= book1.pictures.first.url %>"></a></dd>
							<% end %>
							<dt>Genre</dt>
							<dd><%= book1.genre %></dd>
						</dl>
						<ul class = "book_reviews">
							<% book1.posts.each do |post| %>
								<li class="book_review">
									<dl class="book_review_info">
										<dt>Rating</dt>
										<dd><%= post.rating %></dd>
										<dt>Review</dt>
										<dd><%= post.review %></dd>
									</dl>
								</li>
							<% end %>
						</ul>
						</li>
					<% end %>	
				<% end %>
		<% end %>
	<% end %>
</ul>

