<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
	          <a class="navbar-brand" id="app_name" href="#">bookShare</a>
	  </div>
	    <div id="navbar" class="navbar-collapse collapse">
	    <ul>
	    	<li class="navbar-right">
	    		<form method="get" action="/logout">
	            	<button type="submit" class="btn btn-success navbar-btn" >Logout</button>
	        </form>
	    	</li>
	    </ul>    
	  </div><!--/.navbar-collapse -->
	</div>
</nav>

<div class="user">
	<p id="user"> Hi <%= @user_email %>! </p>

	<h3> You have shared <%= @my_shared_books %> books </h3>
	<h3> You currently have <%= @my_books_borrowed_count %> borrowed books </h3>
	<h3> Your highest book rating is <%= @max_rated.rating %> </h3>
	<h3> Your best rated book is <%= @max_rated_book.title %> </h3>
	<img src="<%= @max_rated_book_url %>"> 

</div>

<ul class="books">
	<% if @my_books_borrowed.empty? %>
		<p> Sorry but you do not have any borrowed books!</p>
	<% else %>
		<% @my_books_borrowed.each do |book| %>
		<li class="book">
			<dl class="book_info">
				<dt>Title</dt>
				<dd><%= book.title %></dd>
				<% unless book.pictures.empty? %>
				    <dt>URL</dt>
					<dd><a href="<%= book.pictures.url.first %>" target = "_blank"><%= book.pictures.url.first %></a></dd>
				<% end %>
				<dt>Genre</dt>
				<dd><%= book.genre %></dd>
			</dl>
			<ul class = "book_reviews">
				<% book.posts.each do |post| %>
					<li class="book_review">
						<dl class="book_review_info">
							<dt>Rating</dt>
							<dd><%= post.rating %></dd>
							<dt>Review</dt>
							<dd><%= post.review %></dd>
						</dl>
					</li>
				<% end %>
			</ul>
		</li>
		<% end %>
	<% end %>
</ul>
